.viewer__canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 6.25rem;
}

.upload__label {
  display: flex;
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  cursor: pointer;
  background-color: var(--white-color);
  padding: 1.25rem;
  color: var(--black-color);
  border-radius: 0.625rem;
  transition: ease transform 0.2s;
}

.upload__label:active {
  transform: scale(0.8);
}

.upload__input {
  display: none;
}

.alert {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--black-int-color), 0.6);
}

.alert__wrapper {
  text-align: center;
  background-color: var(--white-color);
  border-radius: 0.625rem;
  padding: 0.625rem;
  max-width: 18.75rem;
}

.alert__title {
  font-size: 0.938rem;
  font-weight: 500;
}

.alert__button {
  margin-top: 0.938rem;
  padding: 0.625rem;
  color: var(--white-color);
  background-color: var(--black-color);
  border: none;
  border-radius: 0.625rem;
  font-size: 0.938rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .controls {
    margin-top: 0.625rem;
  }
}
