@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --primary-font: "Roboto", Helvetica, sans-serif;
  --base-font-size: 16px;
  --white-color: #ffffff;
  --black-color: #000000;
  --black-int-color: 0, 0, 0;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
  box-sizing: border-box;
  list-style: none;
}

img {
  max-width: 100%;
}

html,
body {
  overflow: hidden;
}
